body {
    font-family: 'Ubuntu', sans-serif;
    font-family: 'Poppins', sans-serif;
    color: #114B5F;
}

.header-img {
 background-image: url("../images/AdobeStock_14921374.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    padding: 20px;
}

h1 {
    text-align: center;
    font-size: 60px;
    margin-bottom: -10px;
    color: white;
    text-shadow: 1px 1px 2px #114B5F;
}

.sub-head {
    font-size: 20px;
}

.it {
    font-style: italic;
}


/* WEATHER SECTION */
.iconCSS {
    height:200px;
    width: 200px;
}

.descriptionCSS {
    font-size: 30px;
    text-transform: capitalize;

}

.temperatureCSS {
    font-size: 45px;
    padding-bottom: 30px;
}

.infoCSS {
    margin-top: -20px;
    font-size: 20px;
    margin-right: 20px;
}


.rate {
    font-size: 30px;
}

.lower-case {
    text-transform: lowercase;
}

.upper-case {
    text-transform: uppercase;
}

.phrase {
    font-size: 20px;
}

#location {
    font-family: 'Poppins', sans-serif;
    color: #114B5F;
}

form {
    margin-top: 50px;
}

#city,
#money {
    border-radius: 40px;
    padding: 10px;
    max-width: 60%;
    background-color: white;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-size: 30px;
}

#money {
    max-width: 95%;
    font-size: 20px;
}

#search {
    width: 125px;
    height: 65px;
    font-size: 18px;
    border-radius: 40px;
    background-color: #297373;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    margin-bottom: 10px;
}

#convert {
    width: 72px;
    height: 40px;
    font-size: 10px;
    border-radius: 40px;
    background-color: #297373;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    }

.card-bg {
    background-color: #FF8966;
    padding: 15px;
}