body {
    background-image: url("../images/bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.transparency {
    background-color: white; 
    size: auto;
    background-color: rgba(255, 255, 255, 0.8);
}


.notransparency {
    background-color: white;
}


form {
    margin-top: 50px;
}

#city,
#money {
    border-radius: 40px;
    padding: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    max-width: 80%;
    background-color: white;
    text-align: center;
    font-size: 24px;
    opacity: 1;
}

#placeholder {
    color: gray;
}

#search,
#convert {
    width: 100px;
    height: 50px;
    font-size: 15px;
    border-radius: 40px;
    background-color: rgb(4, 174, 253);
}



.test1 {
    background-color: turquoise;
}


.test2 {
    background-color: cornflowerblue;
}

.test3 {
    background-color: slateblue;
}